@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131313;
  --foreground: #ededed;
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Afacad", Helvetica, sans-serif;
  font-size: 18px;
}
